*.iml
*.log
*.sublime-workspace
.DS_Store
.dir-locals.el
.idea
.tmp
atlassian-ide-plugin.xml
build
config/local.js
coverage/
database.json
jshint.xml
jscs.xml
mocha.json
node_modules
npm-debug.log
www
